{
  "extends": ["motor-talk", "prettier"],
  "rules": {
    "max-len": ["error", { "code": 120, "ignoreUrls": true }],
    "prettier/prettier": "error"
  },
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "env": {
    "jest": true
  }
}
