**/.cache

# IntelliJ IDEA
.idea
*.iml

# Logs
npm-debug.log*
yarn-error.log

# Dependency directories
node_modules/
.DS_Store

lib/
dist/
es/
ignoreme/

# Environment variables
.env

# Testing artifacts
cypress/videos
cypress/screenshots
instrumented
coverage
.nyc_output
