name: Test
on: ["push", "pull_request"]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [14]
    name: Unit and E2E tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Use node ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Install npm packages
        run: yarn --frozen-lockfile
      - name: Run unit Tests
        run: yarn test --coverage
      - name: Run end-to-end tests
        uses: cypress-io/github-action@v2
        with:
          start: yarn storybook
      - name: Report code coverage
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
